body {
  background-color: orange;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container li {
  /* text-align: left; */
  font-size: 20px;
  padding-bottom: 30px;
}

button {
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

input {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

select {
  margin-top: 5px;
  margin-bottom: 15px;
}

img {
  padding-top: 10px;
  max-width: 300px;
  align-items: center;
}

textarea {
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 5px;
}

label {
  display: block;
}
